* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: Arial, Helvetica, sans-serif;
background: linear-gradient(90deg,#D78FEE,#FDCFFA);
color: white;

}
.nav-head{
    font-size: 30px
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    background-color: #4E56C0;
    padding: 20px;
}
.nav-link a{
    color: white;
    text-decoration: none;
    
}
.nav-link{
    display: flex;
    gap: 30px;
}